### Credit Card Lead Prediction
#### Problem Statement
- Defining the problem statement
- Collecting the data
- Exploratory data analysis
- Feature engineering
- Modelling
- Testing

#### 1. Defining the problem statement
Happy Customer Bank is a mid-sized private bank wants to cross sell its credit cards to its existing customers and is looking for help in identifying customers that could show higher intent towards a recommended credit card.

#### 2. Collecting the data
Using pandas to load train and test csv files

In [2]:
import pandas as pd
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

#### 3. Exploratory Data Analysis
Printing the first five rows of the train data

In [3]:
train.head()

,ID,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
0,NNVBBKZB,Female,73,RG268,Other,X3,43,No,1045696,No,0
1,IDD62UNG,Female,30,RG277,Salaried,X1,32,No,581988,No,0
2,HD3DSEMC,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
3,BF3NC7KV,Male,34,RG270,Salaried,X1,19,No,470454,No,0
4,TEASRWXV,Female,30,RG282,Salaried,X1,33,No,886787,No,0

##### Train Set Data Attributes
- Variable: Definition : Definition
- ID                   : Unique Identifier for a row 	
- Gender               : Gender of the Customer 	
- Age                  : Age of the Customer (in Years)
- Region_Code          : Code of the Region for the customers
- Occupation           : Occupation Type for the customer 
- Channel_Code         : Acquisition Channel Code for the Customer  (Encoded)
- Vintage              : Vintage for the Customer (In Months)
- Credit_Product       : If the Customer has any active credit product (Home loan,Personal loan, Credit Card etc.)
- Avg_Account_Balance  : Average Account Balance for the Customer in last 12 Months              
- Is_Active            : If the Customer is Active in last 3 Months
- Is_Lead(Target)      : If the Customer is interested for the Credit Card, 0 : Customer is not interested, 1 : Customer is interested

In [11]:
print("train set rows\t\t: {}".format(train.shape[0]))
print("train set columns\t: {}\n".format(train.shape[1]))
print("test set rows\t\t: {}".format(test.shape[0]))
print("test set columns\t: {}".format(test.shape[1]))

train set rows		: 245725
train set columns	: 11

test set rows		: 105312
test set columns	: 10

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245725 entries, 0 to 245724
Data columns (total 11 columns):
ID                     245725 non-null object
Gender                 245725 non-null object
Age                    245725 non-null int64
Region_Code            245725 non-null object
Occupation             245725 non-null object
Channel_Code           245725 non-null object
Vintage                245725 non-null int64
Credit_Product         216400 non-null object
Avg_Account_Balance    245725 non-null int64
Is_Active              245725 non-null object
Is_Lead                245725 non-null int64
dtypes: int64(4), object(7)
memory usage: 20.6+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105312 entries, 0 to 105311
Data columns (total 10 columns):
ID                     105312 non-null object
Gender                 105312 non-null object
Age                    105312 non-null int64
Region_Code            105312 non-null object
Occupation             105312 non-null object
Channel_Code           105312 non-null object
Vintage                105312 non-null int64
Credit_Product         92790 non-null object
Avg_Account_Balance    105312 non-null int64
Is_Active              105312 non-null object
dtypes: int64(3), object(7)
memory usage: 8.0+ MB

In [12]:
train.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [13]:
test.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         12522
Avg_Account_Balance        0
Is_Active                  0
dtype: int64